/* / Configuração global */
:root{
  --tamanho-maximo:1280px;
  --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #000000;
    font-family: "inter", arial;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  /* // Configuração global */